body{
margin:0px;
padding:0px;
}

.simple{
width:800px;
margin-left:auto;
margin-right:auto;
}

.header_a{
width:800px;
height:50px;
background-color:black;
}
.header_aa{
width:200px;
height:50px;
float:left;
background-image:url(image/13.png);
background-repeat:no-repeat;
margin-left:50px;
margin-top:10px;
}
.header_ab{
width:500px;
height:50px;
float:left;
}
.header_z{
width:100px;
height:27px;
float:left;
color:white;
margin-left:230px;
}
.header_y{
width:100px;
height:27px;
float:left;
color:white;
margin-left:40px;
}
.nav{
width:800px;
height:50px;
background-color:white;
padding-top:1px;
}
.nav ul{
list-style-type:none;
}
.nav ul li{
display:inline-block;
margin-left:44px;

}
.nav ul li a{
text-decoration:none;
color:black;
font-family:elephant;
}
.photo{
width:800px;
height:300px;
background-image:url(image/01.jpg);
}
.photo_a{
width:800px;
height:200px;
background-image:url(image/03.jpg);
}
.head{
width:800px;
height:150px;
background-color:white;
}
.head_a{
width:800px;
height:150px;
text-align:center;
padding-top:1px;
}
.head_a h2{
height:9px;
color:black;
margin-top:40px;
}
.head_a p{
width:210px;
color:black;
margin-top:10px;
margin-left:303px;
}
.acontent{
width:800px;
height:150px;
background-color:white;
}
.acontent_a{
width:200px;
height:150px;
float:left;
background-color:white;
margin-left:70px;
padding:1px;
}
.acontent_a img{
margin-left:30px;
margin-top:15px;
}
.acontent_a h2{
font-size:13px;
margin-left:30px;
}
.acontent_a p{
width:120px;
font-size:10px;
margin-left:30px
}
.acontent_b{
width:200px;
height:150px;
float:left;
background-color:white;
margin-left:30px;
}
.acontent_b img{
margin-left:30px;
margin-top:22px;
}
.acontent_b h2{
font-size:13px;
margin-left:30px;
}
.acontent_b p{
width:120px;
font-size:10px;
margin-left:30px;
}

.acontent_c{
width:200px;
height:150px;
float:left;
background-color:white;
margin-left:30px;
}
.acontent_c img{
margin-left:30px;
margin-top:18px;
}
.acontent_c h2{
font-size:13px;
margin-left:30px;
}
.acontent_c p{
width:120px;
font-size:10px;
margin-left:30px;
}
.bcontent{
width:800px;
height:150px;
background-color:white;
}
.bcontent_a{
width:200px;
height:150px;
float:left;
background-color:white;
margin-left:-200px;
}
.bcontent_a img{
margin-left:30px;
margin-top:15px;
}
.bcontent_a h2{
font-size:13px;
margin-left:30px;
}
.bcontent_a p{
width:120px;
font-size:10px;
margin-left:30px
}
.bcontent_b{
width:200px;
height:150px;
float:left;
background-color:white;
margin-left:30px;
}
.bcontent_b img{
margin-left:30px;
margin-top:22px;
}
.bcontent_b h2{
font-size:13px;
margin-left:30px;
}
.bcontent_b p{
width:120px;
font-size:10px;
margin-left:30px;
}

.bcontent_c{
width:200px;
height:150px;
float:left;
background-color:white;
margin-left:30px;
}
.bcontent_c img{
margin-left:30px;
margin-top:18px;
}
.bcontent_c h2{
font-size:13px;
margin-left:30px;
}
.bcontent_c p{
width:120px;
font-size:10px;
margin-left:30px;
}
.footer_a{
width:800px;
height:250px;
background-image:url(image/02.jpg);
}
.footer_aa{
width:400px;
height:250px;
float:left;
}
.footer_ab{
width:400px;
height:250px;
float:left;
}
.footer_z{
width:200px;
height:150px;
margin:0px auto;
margin-top:60px;
border:solid 2px black;
}
.footer_za{
display:inline-block;
color:black;
background-color:white;
opacity:0.4;
    padding: 4px 130px 4px 9px;
    margin-top: 20px;
    margin-left: 10px;
}
.footer_zb{
display:inline-block;
color:black;
background-color:white;
opacity:0.4;
	padding: 4px 117px 4px 6px;
    margin-top: 14px;
    margin-left: 10px;
}
.footer_zc{
display:inline-block;
color:white;
background-color:black;
    padding: 15px 15px 15px 15px;
    margin-left: 68px;
    margin-top: 8px;
    border-radius: 22px;
}
.footer_b{
width:800px;
height:69px;
background-color:red;
}
.footer_ba{
	height:69px;
	width:600px;
	float:right;
}
.footer_bb{
	width:200px;
	height:69px;
	background-color:green;
	float:right;
}
.footer_c{
width:800px;
height:270px;
background-color:black;
}
.footer_ca{
width:250px;
height:270px;
float:left;
margin-left:50px;
}
.footer_ca h2{
color:white;
    margin-left: 30px;
    margin-top: 50px;
}
.footer_ca p{
color:white;
    width: 190px;
    margin-left: 30px;
}
.footer_cb{
width:200px;
float:left;
height:270px;
}
.footer_cb h2{
color:white;
margin-left:10px;
margin-top:50px;
}
.footer_cb ul{
list-style-type:none;
}
.footer_cb ul li{
    margin-top: 15px;
    margin-left: -20px;
}
.footer_cb ul li a{
text-decoration:none;
color:white;
}
.footer_cc{
width:200px;
float:left;
height:270px;
}
.footer_cc h2{
color:white;
margin-left:30px;
margin-top:50px;
}
.footer_cc ul{
list-style-type:none;
}
.footer_cc ul li{
margin-top:6px;
}
.footer_cc ul li a{
color:white;
text-decoration:none;
}