html, body {
				padding: 0;
				margin: 0;
				height: 100%;
			}
			body {
				background-color: #eee;
				font-family: Arial, Helvetica, Verdana;
				color: #666;
			}

			h1, h2, h3, h4, h5, h6 {
				color: #333;
			}
			a, a:link, a:active, a:visited {
				color: #666;
				text-decoration: underline;
			}
			a:hover {
				color: #000;
			}
			hr {
				margin: 75px -20px;
				height: 0;
				padding: 0;
				border: 0;
				border-top: 1px solid #ccc;
			}
			pre {
				border-left: 5px solid #ccc;
				width: 100%;
				padding: 10px 0 10px 20px;
				overflow: auto;
			}

			#wrapper {
				background-color: #fff;
				width: 70%;
				min-width: 675px;
				padding: 50px 50px 100px 50px;
				margin: 0 auto;
				border: 1px solid #ccc;
				box-shadow: 0 0 5px #ccc;
			}
			#intro p {
				font-size: 18px;
				line-height: 24px;
			}

			.thumbs,
			.gallery,
			.links,
			.slider {
				border-top: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				background: #eee;
			}
			.thumbs {
				padding: 10px 30px 30px 50px;
				text-align: center;
			}
			.thumbs:after {
				content: " ";
				display: block;
				clear: both;
			}
			.thumbs a {
				display: inline-block;
				margin: 20px 20px 0 0;
			}
			thumbs img
			{
				width: 130px;
				height: 130px;
			}
			.thumbs img,
			.gallery img {
				border: 1px solid #ccc;
				background: #fff;
				padding: 9px;
			}
			.thumbs a:hover img {
				border-color: #999;
			}
			.gallery {
				height: 300px;
				padding: 30px 0;
			}
			.slider {
				height: 475px;
			}
			.links {
				padding: 30px 50px;
			}
			.links a {
				line-height: 30px;
			}

			.hidden {
				display: none;
			}
.photo{
width: 150px;
height: 150px;
}